---
import { Article, ThemeButton } from "~/components";
import { getArticles } from "~/contents";
import IndexLayout from "~/layouts/index-layout.astro";
---

<IndexLayout title="Constitution de l'ARAM">
	<h1>
		Texte intégral de la Constitution de l'ARAM du 4 juillet 2017 en vigueur
	</h1>
	<ThemeButton client:only="solid-js" />
	{getArticles.map(article => <Article {...article} />)}
</IndexLayout>
